@font-face {
  font-family: 'TT-Norms-Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/TTNormsPro-Regular.woff) format('woff');
}
@font-face {
  font-family: 'TT-Norms-Pro';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/TTNormsPro-Medium.woff) format('woff');
}
@font-face {
  font-family: 'TT-Commons-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/TTCommons-Medium.woff) format('woff');
}
